body {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

table {
    margin-top: 3rem;
}

h2 {
    margin-top: 3rem !important;
}

li {
    list-style-type: none;
}

td {
    min-width: 200px !important;
}

#config {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}

#app-div {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}